.navimg{
   margin-left: 85px;
   padding-top: 30px;
   
   
}

.navcontainer{

 height: 84px;
 gap: 0px;
 opacity: 0px;
 background: #F5F7FA;
}
button{
    border: none;
 
}


.navtext{
    display: flex;
    gap: 4%;
    margin-left: 300px;
    margin-top: -35px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #18191F;
    
}
.navtext1{

 height: 24px;
 top: 30px;
 left: 439px;
 gap: 0px;
 opacity: 0px;
 padding-left: 40px;
 

}
.btn{
   
   width: Hug (182px)px;
   height: Hug (40px)px;
   top: 22px;
   left: 1114px;
   gap: 14px;
   opacity: 0px;
   display: flex;
   margin-top: 15px;
   margin-left: 120px;
   

   
}
.buttontext{
   
   
   font-family: Inter;
   font-size: 14px;
   font-weight: 500;
   line-height: 20px;
   text-align: center;
   color: #4CAF4F;
   background: #F5F7FA;

   
   
}
.buttontext1{
   background: #4CAF4F;
font-family: Inter;
font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: center;
color: #FFFFFF;
border-radius: 5px;
padding: 10px;

}
.topcontainer{
   
  
  background: #F5F7FA;
}
.subcontainer{
   margin-top: 150px;
   margin-left: -60px;
}
.textlin{
   
   font-family: sans-serif;
   font-size: 64.49px;
   font-weight: 600;
   line-height: 20px;
   text-align: left;
   color: #4D4D4D;
   margin-left: 144px;

}
.textlin1{
   font-family: Inter;
font-size: 64.49px;
font-weight: 600;
text-align: left;
color: #4CAF4F;

}
.textlin2{
   font-family: sans-serif;
font-size: 16.12px;
font-weight: 400;
line-height: 50px;
text-align: left;
color: #717171;
margin-left: 144px;

}
.textlin3{
   background: #4CAF4F;
   font-family: Inter;
   font-size: 16.12px;
   font-weight: 500;
   line-height: 24.18px;
   text-align: center;
   color: #FFFFFF;
   height: Hug (53.21px)px;
   top: 226.05px;
   padding: 14.11px 32.24px 14.11px 32.24px;
   gap: 10.08px;
   border-radius: 5px;
   opacity: 0px;
   margin-left: 144px;
}
.img2{
    display: flex;
    justify-content: space-between;
    margin-left: 800px;
    margin-top: -300px;
}
.carousel {
   display: flex;
   height: Hug (10px)px;
   gap: 8px;
   opacity: 0px;
   align-items: center;
   margin-left: 650px;
 }

 .circle {
   width: 10px;
   height: 10px;
   background-color: rgba(0, 128, 0, 0.537);
   border-radius: 50%;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
 }
 .active {
   background: green;
 }





.middlecontainer{
   
 height: Hug (190px)px;
 top: 647px;
 padding: 0px 144px 0px 144px;
 gap: 16px;
 opacity: 0px;
}
.txtline{
   
font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
text-align: center;
color: #4D4D4D;

}
.txtline1{

font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: #717171;

}
.txtline2{
   
 height: Fixed (98px)px;
 gap: 0px; 
 justify-content: space-between;
 opacity: 0px;display: flex;
 margin-left: -50px;
}
.middlecontainer1{
   
  height: Hug (120px)px;
  gap: 8px;
  opacity: 0px;
}
.txtline3{
   
font-family: sans-serif;
font-size: 36px;
font-weight: 600;
line-height: 44px;
text-align: center;
color: #4D4D4D;
}
.txtline4{
   
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;
color: #717171;

}

.login{
   width: Hug (77px,91px)px;
   height: Hug (40px)px;
   padding: 10px 20px 10px 20px;
   gap: 10px;
   border-radius: 6px 0px 0px 0px;
   opacity: 0px;
   color: #4CAF4F;
}
.sign up{
   width: Hug (91px)px;
   height: Hug (40px)px;
   padding: 10px 20px 10px 20px;
   gap: 10px;
   border-radius: 6px 0px 0px 0px;
   opacity: 0px;
   color: #4CAF4F;
   
  
}
.icanio{
display: flex;
justify-content: space-between;
align-items: center;
width: Fixed (1,440)px;
height: Hug (280px)px;
padding: 0px 144px 0px 144px;
gap: 0px;
box-shadow: 0px 2px 4px 0px #ABBED133;

}
.icaon2{
   width: Fixed (299px)px;
   height: Hug (260px)px;
   padding: 24px 32px 24px 32px;
   gap: 8px;
   border-radius: 8px 0px 0px 0px;
   opacity: 0px;
   background: #FFFFFF;
   box-shadow: 0px 2px 4px 0px #ABBED133;
}
.icaon3{
   width: Fixed (299px)px;
   height: Hug (280px)px;
   padding: 24px 32px 24px 32px;
   gap: 8px;
   border-radius: 8px 0px 0px 0px;
   opacity: 0px;
   box-shadow: 0px 2px 4px 0px #ABBED133;

}
.icon3{
width: Fixed (299px)px;
height: Hug (260px)px;
padding: 24px 32px 24px 32px;
gap: 8px;
border-radius: 8px 0px 0px 0px;
opacity: 0px;
box-shadow: 0px 2px 4px 0px #ABBED133;
}
.icanio1{
   display: flex;
   align-items: center;
   justify-content: space-evenly;

   
}
/* .icaon4{
   width: 461.51px;
   height: 343.88px;
   top: 54.35px;
   gap: 0px;
   opacity: 0px;

} */
.icaon5{
   width: Fixed (661px)px;
   height: Hug (268px)px;
   gap: 32px;
   opacity: 0px;
}
.th{

  font-family: serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  background: #4D4D4D;

}
.the1{
   font-family: Inter;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   color: #717171;
   
   
}
.the3{
   display: flex;
   align-items: center;
   gap: 10px;
}

.icaon6{
   width: Hug (151px)px;
   height: Hug (52px)px;
   padding: 14px 32px 14px 32px;
   gap: 10px;
   border-radius: 5px;
   opacity: 0px;
   background: #4CAF4F;
   color: #FFFFFF;

}
.icanio2{
   background: #F5F7FA;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.the2{

   font-family: sans-serif;
   font-size: 15px;
   font-weight: 600;
   text-align: left;
   width: 50%;
   margin-left: 8%;
   
}
.boxcont{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 50%;
   flex-direction: column;
   margin-right: 10%;
}
.zy{
   
  }




.icanio3{
  
  display: flex;
  flex-direction: row;
  top: 64px;
  left: 732px;
  gap: 78px;
  margin-right: 10%;
  
}
.zy{
   margin-top: 20px;
}
h2{
   margin: 1px;
}

.num{
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  color: #4D4D4D;
  
}
.text{
   color: #717171;
   font-family: Inter;
   font-size: 16px;
   font-weight: 400;
   text-align: left;
     
}
.num1{
   font-family: Inter;
   font-size: 28px;
   font-weight: 700;
   line-height: 36px;
   text-align: left;
   color: #4D4D4D;   
}
.text1{

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #717171;
}
.num2{
   
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #4D4D4D;
}
.text2{
   
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #717171;
}
.num3
{
   
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #4D4D4D;
}
.text3{
   
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #717171;
}
.icanio5{
   display: flex;
   flex-direction: row;
   gap: 78px;
   
}


.icanio6{
   display: flex;
  justify-content: space-evenly;
  align-items: center; 
  margin-top: 100px;
  top: 64px;
  left: 732px;
  gap: 40px;
  margin-bottom: 250px;
   

}

.mt{
   font-family: serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  color: #4D4D4D;
}
.mt1{
   font-family: Inter;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   color: #717171;
     
}
.mt2{
   width: Hug (151px)px;
   height: Hug (52px)px;
   padding: 14px 32px 14px 32px;
   gap: 10px;
   border-radius: 5px;
   opacity: 0px;
   background: #4CAF4F; 
   color: #FFFFFF;

}
.icanio7{
   
   margin-top: -200;
}
.mt3{
   box-shadow: 0px 8px 16px 0px #ABBED166;
   background: #F5F7FA;
   

}
.icanio8{
   width: 753px;
   height: 324px;
   top: 33.01px;
   left: 538px;
   padding: 0px 5px 0px 0px;
   gap: 32px;
   opacity: 0px;
   margin-left: 400px;
   margin-top: -350;
}
.mt4{

   font-family: Inter;
   font-size: 14px;
   font-weight: 500;
   line-height: 24px;
   text-align: left;
   color: #717171;
   
}
.mt5{
   color: #4CAF4F;
   font-size: 14px;
}
.mt6{
   color: #89939E;
   font-size: 16px;
}
.mt8{
   
   top: 276px;
   gap: 32px;
   opacity: 0px;
   margin-left: 550px;
   margin-top: -50;
}
.mt9{
   color: #4CAF4F;

}




.ab{
   
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
  color: #4D4D4D;
}
.ab1{

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #717171;
}
.p{
   margin-top: 50px;
   align-items: center;
}


.imageGallery{
   display: flex;
   flex-direction: row;
   margin-top: 25px;
   width: Fixed (1,440px)px;
   height: Hug (366px)px;
   gap: 20px;
   margin-left: 7%;
   
}


.image container{
  
   height: Hug (366px)px;

   
   
   
   
}
.image box2{
   justify-content: center;

  
} 

.text4{
   background: #F5F7FA;
   box-shadow: 0px 8px 16px 0px #ABBED166;  
   font-family: Inter;
   font-size: 20px;
   font-weight: 600;
   line-height: 28px;
   text-align: center;
   color: #717171;
   height: 130px;
   position:absolute;
   z-index: -2px;
   margin-top: -100px;
   margin-left: 40px;
   width: 300px;
   border-radius: 5px;
   height: 160px;
}
.red-text{
   color: #4CAF4F;

}






.image box3{
   
   border: 1.5px solid #4CAF4F;
}
.BottomContainar{
   
   margin-top: 10%;
   justify-content: center;
   width: Fixed (747px)px;
   height: Hug (221.52px)px;
   padding: 32px 0px 32px 0px;
   gap: 32px;
   opacity: 0px;
   background: #F5F7FA;
   
}

.TextLine{
   font-family: Inter;
   font-size: 38px;
   font-weight: 600;
   line-height: 46px;
   text-align: center;
   color: #263238;
   font-size: 64px;
   line-height: 1;

}

.BottomButton{
   display: flex;
   justify-content: center;
   
}





.BottomButton button{
   
   width: Hug (178px)px;
   height: Hug (52px)px;
   padding: 14px 32px 14px 32px;
   gap: 8px;
   border-radius: 4px 0px 0px 0px;
   opacity: 0px;
   color: #FFFFFF;
   background: #4CAF4F;
   border-radius: 5px;
  
}
/* .BottomButton button */
.BottomContainar1{
   display: flex;
   flex-direction: column;
   height: 335px;
   top: 222px;
   gap: 45px;
   opacity: 0px;
   background: #263238;
   margin-left: -11px;

   
}


.TextLine1{
  margin-top: 70px;
  
  height: 25.54px;
  gap: 0px;
  opacity: 0px;
  color: #FFFFFF;
  margin-left: 110px;
}
.imageGallery1{
   margin-left: 100px;
   height: Hug (32px)px;
   top: 68.67px;
   gap: 16px;
   opacity: 0px;
}
.TextLine2{
margin-left: 100px;
  font-family: Inter;
 font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
}
.TextLine3{
   margin-left: 100px;   
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  background: #D9DBE1;
   height: 40px;
   width: 150px;
  top: 42px;
  gap: 0px;
  opacity: 0px;
}
.textline4{
   margin-left: 100px;   
   font-family: Inter;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   text-align: left;
   color: #F5F7FA;
   
}
.textcontainer{
   
   height: 289px;
   top: 46px;
   left: 383px;
   padding: 0px 0px 20px 0px;
   opacity: 0px;
   font-family: Inter;
   font-size: 14px;
   font-weight: 400;
   line-height: 15px;
   text-align: left;
   color: #F5F7FA;
display: flex;
flex-direction: column;
margin-top: -300;
margin-left: 600px;

}
.footer1{
   
   height: 200px;
   top: 64px;
   left: 640px;
   gap: 30px;
   opacity: 0px;
   margin-bottom: 130px;
   
   
}

.header{

font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 28px;
text-align: left;
color: #FFFFFF;
margin-top: 50px;

}

.header1{
   
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left; 
  color: #FFFFFF;
  margin-top: 70px;

}
.header5{
   
    line-height: 1;
}



.textcontainer1{
height: 289px;
top: 46px;
left: 383px;
padding: 0px 0px 20px 0px;
opacity: 0px;
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 1px;
text-align: left;
color: #F5F7FA; 
display: flex;
margin-top: -350px;
flex-direction: column;
margin-left: 250px;  
}

.footertexline{

    height: 92px;
    left: 386px;
    gap: 24px;
    opacity: 0px;
    display: flex;
    margin-top: -350;
    margin-left:430px;
    flex-direction: column;
    line-height: 3px;

}
.header2{
   
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #FFFFFF;
  margin-top: 110px;
  

}
.header3{
  
   height: 40px;
   top: 52px;
   gap: 0px;
   border-radius: 4px;
   opacity: 0.2px;
   
   
}
.header4{
   
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #D9DBE1;
color: #FFFFFF;

}
.endfooter{
   border-radius: 10px 0px 10px 0px;
}


